*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 25px;
}

.nav {
    background-color: #6FBF73;
    display: flex;
    justify-content: center;
    gap: 25px;
    padding: 10px;
}

.nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.main {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 20px;
    padding: 20px;
    background-color: #F4FFF4;
}

.sidebar {
    background-color: #E8F5E9;
    padding: 20px;
    border-radius: 10px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
    height: 500px;
}

.card {
    background-color: white;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px grey;
    font-weight: bold;
}
img{
    border-radius: 20px;
}

.footer {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 15px;
}